.socialButton {
  padding: 0rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 4.5rem;
  height: 4.5rem;

  border-radius: 2.25rem;

  box-sizing: border-box;
}
