.popup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(1rem);
  z-index: 30;
  margin: 0;
  padding: 0;
  left: 0;
}
