.aboutMe {
  height: 100vh;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialsRow {
  display: flex;
  flex-direction: row;

  margin-top: 2rem;
}

.socialsRow > *:not(:last-child) {
  margin-right: 1rem;
}

.contentCont {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 60%;

  background-color: var(--fg-color);
  border: 1px solid var(--fg-border);

  padding: 3rem;
  border-radius: 3rem;
}

.contentCont > :first-child {
  margin-right: 3.5rem;
}

.descSection > :first-child {
  margin-bottom: 1rem;
}

.descSection > p {
  margin: 1rem 0rem;
}

.downArrow {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  padding: 5rem 0rem;
  left: 50%;
  transform: translateX(-50%) translateY(0rem);
  transition: transform 0.5s ease;
  cursor: pointer;
}

.downArrow:hover {
  transform: translateX(-50%) translateY(2rem);
}

.langsPopUp > div {
  width: 50vw;
  height: 75vh;

  padding: 3rem;
  border-radius: 3rem;
  background-color: var(--fg-color);
  border: 1px solid var(--fg-border);

  position: relative;
}

.langsPopUp > div > button {
  position: absolute;
  right: 0;
  top: 0;
  width: 9rem;
  height: 9rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.langsPopUp > div > button > svg {
  transition: width 0.5s ease, height 0.5s ease;
}

.langsPopUp > div > button:hover > svg {
  width: 2.5rem;
  height: 2.5rem;
}

.langsPopUp > div > h1 {
  margin-bottom: 3rem;
}

.langsPopUp > div > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.langsSection > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
}

.langsSection h2 {
  margin-bottom: 1rem;
}

.lang {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
}

.lang > div {
  display: flex;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
}

.lang img {
  width: 100%;
  object-fit: contain;
}

.lang:hover p {
  font-size: 1.5rem;
  text-underline-offset: 0.25rem;
  text-decoration: underline wavy 0.15rem;
  transition: text-decoration 0.5s ease, color 0.5s ease, font-size 0.5s ease;
}
