.opener {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.opener h1,
.opener h2,
.opener h3,
.opener p {
  margin-left: 5rem;
  width: 75%;
}

.opener h1:not(:last-child),
.opener h2:not(:last-child),
.opener h3:not(:last-child),
.opener p:not(:last-child) {
  margin-bottom: 5rem;
}

@keyframes blinkingCursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.opener .title svg {
  transform: translateY(0.6rem);
  margin-right: 3rem;
  animation: blinkingCursor 1s infinite;
  text-decoration: none !important;
}

.downArrow {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  padding: 5rem 0rem;
  left: 50%;
  transform: translateX(-50%) translateY(0rem);
  transition: transform 0.5s ease;
  cursor: pointer;
}

.downArrow:hover {
  transform: translateX(-50%) translateY(2rem);
}
