@font-face {
  font-family: "Akkurat Mono";
  src: url("https://github.com/othercollective/othercollective.github.io/raw/refs/heads/master/css/Akkurat-Mono.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  /* Colour scheme vars */
  --bg-color: #17002f;
  --fg-color: #2f005f;
  --fg-focused-color: #4f009f;
  --fg-border: #fe00fe;

  --text-color: #bf9fff;

  /* Colours */
  --pink: #c100c8;
  --light-blue: #4fc1ff;
  --dark-blue: #3f00ff;
  --yellow: #ffd700;
  --green: #008f4f;
  --orange: #ea5c00;
  --purple: #7f00ff;
  --red: #c3006a;
  --off-white: #98d6f8;
  --white: #bf9fff;

  margin: 0;
  padding: 0;

  font-family: "Akkurat Mono", sans-serif;
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--fg-color);
  transition: background-color 0.5s ease;
  border-radius: 0.325rem;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: var(--fg-focused-color);
}
