/* styles.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  background-color: #241f1b;
}

.space-mono {
  font-family: "Space Mono";
}

.inter {
  font-family: "Inter";
  font-style: bold;
}

body {
  background-image: url("/pexels-stephan-seeber-1261728.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
}
